@import "../../styles/mixins.scss";

.drop-down {
  z-index: 999999999999;
  position: relative;
  margin-top: $remSpacing3;
  margin-bottom: $remSpacing3;
  
   @include mqViewportSm {
    margin-bottom: 0px;
    margin-top: 0px;
   }

  &-select {
    background-color: $brandBlack2;
    height: 40px;
    width: $selectWidth;
    cursor: pointer;
  
    &:active {
      border: 1px solid $brandActive;
    }
  }

  &-container {
    max-width: $selectWidth;
    background-color: $brandWhite;
    margin-top: 0px;
    padding-left: $remSpacing2;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  &-chevron {
    height: $remSpacing2;
    width: $remSpacing2;
    padding-top: $remSpacing1;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: $remSpacing2;
    padding-right: $remSpacing2;
    padding-top: $remSpacing1;
  }

  &-item {
    list-style: none;
    padding-top: $remSpacing2;
    @include body();


    &:last-child {
      padding-bottom: $remSpacing2;
    }

    &.active {
      color: $brandGrey1Active;
      pointer-events: none;
    }

    &.default {
     color: $fontGreyActive; 
    }

    &.inactive {
      cursor: pointer;
    }
  }

  &-selection {
    @include body();
    color: $brandWhite;
  }
}