@import "../../styles/mixins.scss";

.header {
  @include mqViewportSm {
    height: $headerHeight;
  }
  background-color: $brandBlack1;
  padding: $remSpacing3 $remSpacing3 $remSpacing1 $remSpacing3;
  margin-bottom: $remSpacing3;

  &-container {
    @include mqViewportSm {
      display: flex;
      justify-content: space-between;
    }

    display: block;
  }

  &-logo {
    @include mqViewportSm {
      height: 43px;
      width: 156px;
    }
    width: 136px;
    position: relative;
  }
}