@import "../../styles/mixins.scss";

.card-grid {
  @include mqViewportSm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $remSpacing3;
  }
  
  @include mqViewportMd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $remSpacing3;
  }

  display: block;

  &-wrapper {
    @include mqViewportSm {
      margin-bottom: 0px;
    }
    background-color: $brandWhite;
    margin-bottom: $remSpacing3;
  }
}