@import "../../styles/mixins.scss";

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;

  &-wrapper {
  border: 2px solid red;
  background-color: $brandWhite;

  }
}